* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body {
  font-size: calc(14px + 0.390625vw);
}
header, footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header div:first-child, footer div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
header div:last-child, footer div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
main div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main div div {
  width: 100%;
}


header details {
  background: #242424;
  color: white;
  cursor: pointer;
  font-size: 32px;
  position: relative;
  display: inline-block;
}
header details > summary {
  border: none;
  list-style: none;
}
header details > summary::-webkit-details-marker {
  display: none;
}
header details ul{
  position: absolute;
  list-style: none;
  right: 0
}
header details ul > li, footer, header {
  white-space: nowrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  width: 320px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f0f0f0;
  white-space: nowrap;
}

.todoProjectSelector {
  padding: '10px';
  margin-bottom: '10px';
}
.todoList {
  padding: 16px;
  height: 480px;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
}
.todoList > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  transition: background-color 0.3s;  
  color: black;
  width: 320px;
}
.todoProjectSelector {
  width: 320px;
}
.todoProjectSelector select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  border: none;
  height: 120px;
  font-size: 1rem;
}
.todoProjectSelector select::-webkit-scrollbar, .todoList::-webkit-scrollbar {
  display: none;
}
.todoProjectSelector select, .todoList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.todoDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8px;
  width: 100%;
}
.todoActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.todoActions > button {
  background: none;
  color: blue;
  border: none;
  padding: none;
  border-radius: none;
  cursor: pointer;

}
.todoActions > button:last-child {
  margin-left: 8px;
}
.status {
  display: flex;
  align-items: center;
  width: 100%;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px;
  background: #f0f0f0;
}
.description p {
  text-align: left;
}


.status input[type="checkbox"] {
  margin-left: 8px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}