header {
  position: sticky;
  top: 0;
  right: 0;
  background-color: #242424;
}
header, footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header div:first-child, footer div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
header div:last-child, footer div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
main > .container {
  width: 100%;
}
header details {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  background: #242424;
  color: white;
}
header details > summary {
  border: none;
  list-style: none;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
header details > summary:hover {
  color: lightgray;
}
header details > summary::-webkit-details-marker {
  display: none;
}
svg {
  width: 48px;
}
header details ul {
  position: absolute;
  list-style: none;
  right: 0;
  color: white;
  text-align: right;
  font-size: 1rem;
}
header details ul > li {
  transition: all 1s ease-in-out;
  border-bottom: 0px dotted transparent;
  cursor: pointer
}
header details ul > li:hover {
  color: lightgray;
  border-bottom: 1px solid lightgrey;
}

header details ul > li, footer, header {
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectContainer {
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}
.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f0f0f0;
  white-space: nowrap;
}

.todoProjectSelector {
  padding: '10px';
  margin-bottom: '10px';
}
.todoList {
  padding: 16px 0 0 0;
  height: fit-content;
  max-height: 480px;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.todoList > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  transition: background-color 0.3s;  
  color: black;
  width: 100%;
  flex-direction: column;
}
.todoItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todoProjectSelector {
  width: 100%;
}
.todoProjectSelector select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  border: none;
  height: 120px;
  font-size: 1rem;
}
select::-webkit-scrollbar, .todoList::-webkit-scrollbar, .todoDetails > span::-webkit-scrollbar {
  display: none;
}
select, .todoProjectSelector select, .todoList, .todoDetails > span {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.todoDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8px;
  width: 100%;
}
.todoDetails > span {
  width: 100%;
  text-align: left;
  overflow-y: auto;
}
.todoDetails p > span {
  margin-left: 4px;
}
.todoDetails p > span span {
  margin-right: 4px;
}
.todoActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.todoActions > button, form button, .addLabel button, .addLabelButton {
  background: none;
  color: blue;
  border: none;
  padding: none;
  border-radius: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.todoActions > button:hover, form button:hover, .addLabel button:hover, .addLabelButton:hover {
  color: lightgray;
}
.todoActions > button:last-child {
  margin-left: 8px;
}
.status {
  display: flex;
  align-items: center;
  width: 100%;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px;
  background: #f0f0f0;
}
.description p {
  text-align: left;
}
.addLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
.addLabel > div {
  align-self: flex-end;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.addLabel > div button {
  margin-left: 8px;
}
.labelColorPicker {
  display: flex;
  flex-direction: column;
  height: 64px;
}
.labelColorPicker p {
  font-size: 0.8rem;
}

.status input[type="checkbox"] {
  margin-left: 8px;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
option {
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid black;
}
textarea, select {
  border: 1px solid black;
}
input, textarea, select {
  background: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  transition: background-color 0.3s;
  color: black;
  width: 100%;
}
form > *:not(:last-child) {
  margin-bottom: 8px;
}
form button {
  align-self: flex-end;
  font-size: 1rem;
}
.error {
  color: red;
}

@media screen and (min-height: 1025px) {
  .projectContainer, form, .todoList {
    width: 320px;
  }
}
@media screen and (orientation: landscape) {
  .projectContainer, form, .todoList {
    width: 320px;
  }
}