.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo.container {
  justify-content: flex-start;
  width: 100%;
}
.todo.container > div {
  width: 100%;
}
.todo.container > div:first-child {
  padding: 0 0 8px 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #f0f0f0;
  white-space: nowrap;
}
.todoList {
  justify-content: flex-start;
  height: fit-content;
  overflow-y: auto;
  color: black;
}
.todoItem {
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  background: #f0f0f0;
  transition: background-color 0.3s;  
}
.todoItem > .container {
  width: 100%;
}
.projectItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.todoProjectSelector {
  width: 100%;
}
.projectSelector {
  width: 100%;
  border-radius: 4px;
  border: none;
  height: 120px;
  max-height: 20vh;
  font-size: 1rem;
  background: #f0f0f0;
  color: black;
  padding: 8px 0;
} 
.projectItem {
  padding: 0 8px;
}
.projectItem > span {
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.projectItem.checked {
  background: light-dark(rgb(206, 206, 206), rgb(84, 84, 84));
  color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
}
.projectItem > .actions {
  width: fit-content;
}
.todoDetails {
  align-items: flex-start;
  padding: 0 8px;
  width: 100%;
}
.todoDetails > span {
  width: 100%;
  text-align: left;
  overflow-y: auto;
}
.todoDetails p > span {
  margin-left: 4px;
}
.todoDetails p > span span {
  margin-right: 4px;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.actions > button, form button, .addLabel button, .addLabelButton, .projectItem > button {
  border: none;
  padding: none;
  border-radius: none;
  cursor: pointer;
  color: blue;
  background: none;
  transition: all 0.3s ease-in-out;
}
.actions > button:hover, form button:hover, .addLabel button:hover, .addLabelButton:hover {
  color: lightgray;
}
.actions > button:last-child {
  margin-left: 8px;
}
.status {
  display: flex;
  align-items: center;
  width: 100%;
}
.description {
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px;
  background: #f0f0f0;
}
.description p {
  text-align: left;
}
.addLabel {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
.addLabel > div {
  align-self: flex-end;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.addLabel > div button {
  margin-left: 8px;
}
.labelColorPicker {
  display: flex;
  flex-direction: column;
  height: 64px;
}
.labelColorPicker p {
  font-size: 0.8rem;
}
.status input[type="checkbox"] {
  margin-left: 8px;
  cursor: pointer;
}

.error {
  height: 24px;
}
select::-webkit-scrollbar, .projectSelector::-webkit-scrollbar, .todoList::-webkit-scrollbar, .todoDetails > span::-webkit-scrollbar {
  display: none;
}
select, .projectSelector, .todoList, .todoDetails > span {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (min-height: 1025px) {
  .todo.container > div {
    width: 320px;
  }
}
@media screen and (orientation: landscape) {
  .todo.container > div {
    width: 320px;
  }
}